{% extends 'base.html' %} 
{% from "forms/camera.html" import render_create_camera_form, render_edit_camera_form %} 
{% from "forms/security.html" import render_create_security_form, render_edit_security_form %} 

{% block title %} Home {% endblock %} 

{% block content %}
  <button
    type="button"
    id="modalButton"
    class="btn btn-light card-btn"
    data-toggle="modal"
    data-target="#view_img"
  >
    <i class="fa fa-ban"></i>
    View Violation Images
  </button>
  <div
    class="modal fade"
    id="view_img"
    tabindex="-1"
    role="dialog"
    aria-labelledby="viewImgLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-lg mdContent"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modalTitle" id="viewImgLabel">
            Violation Images
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label for="select-room" class="lbl">
                <i class="fa fa-map-marker"></i> Location
              </label>
              <select
                class="form-control bg-light text-dark card-inp"
                id="select-room"
                name="select-room"
              >
                {% set existingRooms = [] %}
                <option value="all" selected>All</option>
                {% for image in images %}
                  {% if image['room'] not in existingRooms %}
                    <option value="{{ image['room']}}">{{ image['room'] }}</option>
                    {{ existingRooms.append(image['room']) }}
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="select-date" class="lbl">
                <i class="fa fa-calendar"></i> Date
              </label>
              <select
                class="form-control bg-light text-dark card-inp"
                id="select-date"
                name="select-date"
              >
                {% set existingDates = [] %}
                <option value="all" selected>All</option>
                {% for image in images %}
                  {% if image['date'] not in existingDates %}
                    <option value="{{ image['date'] }}">{{ image['date'] }}</option>
                    {{ existingDates.append(image['date']) }}
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            {% for image in images %}
              <div class="col-sm-4 filter-card">
                <div class="card bg-light" id="home">
                  <img 
                    class="card-img-top" 
                    src="{{ url_for('get_image', files_id=image['_id']) }}" 
                    alt="Card image cap"
                  >
                  <div class="card-body">
                    <h5 class="card-title welcomeText">
                      Date: {{ image['date'] }} 
                      <br>
                      Room: {{ image['room'] }}
                    </h5>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% if images|length < 1 %} 
            <h3 class="welcomeText">
              There are no violations recorded
            </h3>
          {% endif %}
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <button
    type="button"
    id="modalButton"
    class="btn btn-light card-btn"
    data-toggle="modal"
    data-target="#new_cam"
  >
    <i class="fa fa-plus-square"></i>
    Add New Camera
  </button>
  {{ render_create_camera_form(security=security) }}
  <button
    type="button"
    id="modalButton"
    class="btn btn-light card-btn"
    data-toggle="modal"
    data-target="#new_sec"
  >
    <i class="fa fa-user-plus"></i>
    Add New Security Member
  </button>
  {{ render_create_security_form() }}
  <button
    type="button"
    id="modalButton"
    class="btn btn-light card-btn"
    data-toggle="modal"
    data-target="#view_sec"
  >
    <i class="fa fa-users"></i>
    View Security Members
  </button>
  <div
    class="modal fade"
    id="view_sec"
    tabindex="-1"
    role="dialog"
    aria-labelledby="viewSecLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-lg mdContent"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modalTitle" id="viewSecLabel">
            Security Members
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input
            class="form-control bg-light text-dark card-inp"
            type="search"
            id="searchinpS"
            placeholder="Search"
            aria-label="Search"
          />
          <table class="table table-striped table-light card-tbl">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col"><i class="fa fa-ellipsis-v"></i></th>
              </tr>
            </thead>
            <tbody id="tableBodyS">
              {% for member in security %}
                <tr>
                  <td>{{ member['first_name'] }}</td>
                  <td>{{ member['last_name'] }}</td>
                  <td>{{ member['email'] }}</td>
                  <td>{{ member['phone'] }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-light card-btn icon-btn"
                      data-toggle="modal"
                      data-target="#edit_sec_{{ member['_id']|string }}"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <form
                      action="{{ url_for('delete_security', id=member['_id']) }}"
                      method="POST"
                    >
                      <button type="submit" class="btn btn-light card-btn icon-btn">
                        <i class="fa fa-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {{ render_edit_security_form(id=member['_id'],
                                            first_name=member['first_name'],
                                            last_name=member['last_name'], 
                                            email=member['email'],
                                            phone=member['phone']) }}
              {% endfor %}
            </tbody>
          </table>
          {% if security|length < 1 %} 
            <h3 class="welcomeText">
              There is no any security member registered
            </h3>
          {% endif %}
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <input
    class="form-control bg-light text-dark card-inp"
    type="search"
    id="searchinp"
    placeholder="Search"
    aria-label="Search"
  />
  <table class="table table-striped table-light card-tbl">
    <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Security Member</th>
        <th scope="col">Status</th>
        <th scope="col"><i class="fa fa-ellipsis-v"></i></th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% for camera in cameras %}
        <tr>
          <td>
            {{ camera['location'] }} 
            {% if camera['status'] == "Working" %}
              <button
                type="button"
                class="btn btn-light card-btn icon-btn"
                data-toggle="modal"
                data-target="#{{camera['_id']}}"
              >
                <i class="fa fa-video-camera"></i>
              </button>
              <div
                class="modal fade"
                id="{{ camera['_id'] }}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="label"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-scrollable modal-lg mdContent"
                  role="document"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title modalTitle" id="label">
                        Cam at {{ camera['location'] }}
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img
                        id="bg"
                        class="center"
                        src="{{ url_for('video_feed', id=camera['_id']) }}"
                      />
                    </div>
                    <div class="modal-footer"></div>
                  </div>
                </div>
              </div>
            {% endif %}
          </td>
          <td>
            {% for member in security %}
              {% if member['_id']|string == camera['supervisor_id'] %}
                {{ member['first_name'] }} {{member['last_name']}}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {{ camera['status'] }} 
            {% if camera['status'] == "Working" %}
              <i class="fa fa-check-circle" style="color: green"></i>
            {% elif camera['status'] == "Stopped" %}
              <i class="fa fa-minus-circle" style="color: red"></i>
            {% endif %}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-light card-btn icon-btn"
              data-toggle="modal"
              data-target="#edit_cam_{{ camera['_id']|string }}"
            >
              <i class="fa fa-edit"></i>
            </button>
            <form
              action="{{ url_for('delete_camera', id=camera['_id']) }}"
              method="POST"
            >
              <button type="submit" class="btn btn-light card-btn icon-btn">
                <i class="fa fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
        {{ render_edit_camera_form(id=camera['_id'],
                                  supervisor_id=camera['supervisor_id'], 
                                  url=camera['url'],
                                  location=camera['location'], 
                                  status=camera['status'], 
                                  security=security) }}
      {% endfor %}
    </tbody>
  </table>
  {% if cameras|length < 1 %}
    <h3 class="welcomeText">There is no any camera registered</h3>
    {% if security|length < 1 %}
      <h3 class="welcomeText">But first you should add a security member</h3>
    {% endif %}
  {% endif %}
{% endblock %}
