{% extends 'base.html' %} 
{% block title %} Welcome {% endblock %} 

{% block content %}
    <h1 class="welcomeText">Welcome to the In-Door Face Mask Inspector</h1>
    <br>
    <h4 class="welcomeText">
        This is a project that aims to allow the return of working environment in indoor offices.
        It focuses on reading live streams for ip cameras in enterprise environment,
        after that, it applies a face mask detection model using the state-of-art Artificial Neural
        Networks.
        In addition to detection, it also provides a customization platform for surveillence cameras.
        Another service provided from the system is alerting security members via email. 
    </h4>
{% endblock %}
