{% extends "base.html" %}
{% block title %} Camera Registration {% endblock %}

{% block content %}
<div class="container">
  <h3>Set up system configuration</h3>
  <hr>
  <form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}

    {% for field in form.list %}
    <div class="row">
      <div class="form-group col-md-6">
        {{ wtf.form_field(field.form.name, class='form-control', placeholder='Unique Name') }}
      </div>
      <div class="form-group col-md-6">
        {{ wtf.form_field(field.form.location, class='form-control', placeholder='Location') }}
      </div>
      <div class="form-group col-md-6">
        {{ wtf.form_field(field.form.url, class='form-control', placeholder='RTSP url') }}
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
</div>
{% endblock %}
