{% extends 'base.html' %} 
{% block title %} Home {% endblock %} 

{% block content%}
<h1>In Door Face Mask Inspector</h1>
<h3 for="office">Choose an office:</h3>
<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Choose Office
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for office, label in offices %}
      <a class="dropdown-item" href="{{ url_for('change_office', office=office) }}">{{ label }}</a>
    {% endfor %}
    </div>
</div>
{% block video_feed %}{% endblock %}
{% endblock %}
